
.chat-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 65px;
    left: 0;
    z-index: 999;
}
.chat-component {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    height: 35px;
    padding-bottom: 30px;
    padding-left: 300px;
    background-color: #fff;
    color: #333;
    line-height: 35px;
    z-index: 999;
}
.chat-component .cover-input{
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 35px;
        width: 290px;
        margin: 0;
        padding: 5px 10px;
        font-size: 14px;
        background-color: #fff;
        vertical-align: middle;
        z-index: 1000;
}
.chat-component .btn-border-l {
        display: inline-block;
        height: 70rpx;
        width: 2rpx;
        background-color: #d9d9d9;
        margin: 12rpx 0rpx;
        box-sizing: border-box;
        vertical-align: middle;
}
.chat-component .btn {
        display: inline-block;
        color: #fff;
        line-height: 30px;
        height: 30px;
        width: 60px;
        flex: 1;
        margin: 7.5px 10px;
        border: none;
        font-size: 13px;
        padding: 0;
        border-radius: 4px;

        text-align: center;
        box-sizing: border-box;
        vertical-align: middle;
        background-color: rgb(7, 193, 9);
}


.back-btn-container {
    height: auto;
}
.back-btn {
    left: 0px;
}


.avatar-container {
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content:space-between;
  flex: 1;
  line-height: 1;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  transition: all 0.5s;
}
.avatar-container .avator-image {
  border-radius: 20px;
}
.avatar-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0;
  max-width: 80px;
  margin-left: 5px;
}
.avatar-container .space {
    width: 10px;
    height: 1px;
}
.content .name {
  max-width: 80px;
  font-size: 12px;
  font-weight: bold;
}
.content .space-column {
    width: 1px;
    height: 4px;
}
.content .online {
  position: relative;
  max-width: 80px;
  font-size: 10px;
  opacity: 0.8;
}
.online-num {
  font-family: "din";
}


.room {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #999;
  text-align: center;
}
.room-header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 150px;
  position: absolute;
  left: 5px;
  top: 40px;
}


*{margin:0; padding:0;}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.room-container {
  height: 100%;
}

